{% load request_utils %}

{% clone_query_dict request.GET as "params" %}

<div class="row hidden-xs filterset" >
    <form id="id_filterset_form" class='col-md-12 form-inline' method="GET">
        {% for filter in filterset.form %}
        <div class='form-group'>
            <label class='center-block'>{{ filter.label }}</label>
            {{ filter }}
        </div>
    {% endfor %}
    </form>
</div>

{# TODO: enable better dependency handling and loading of Javascript assets #}
<script type="text/javascript">
    $(document).ready(function() {
            $('select').addClass('form-control');
    $('#minmax, #closethis').click(function(){
        $('.filterset').toggle();})
    $("#id_filterset_form input,select").change(function() {
      $("#id_filterset_form").submit();
    });
  });
</script>
