{% extends 'bootstrap_base.html' %}
{% block navigation %} {% endblock %}
{% block page_title %}Login{% endblock %}

{% block content %}
    <h2>Academic &amp; Research Computing Project Tracking</h2>
    <p>This tool is used internally by the Academic &amp; Research Computing
    group in the Office of Information Technologies at Portland State
    University.</p>
    <p>To contact us, email <a href="mailto:consultants@pdx.edu">consultants@pdx.edu</a>.</p>
    <p>ARC users may <a href="{% url 'accounts-login' %}">login</a></p>
{% endblock %}

