{% extends "base.html" %}
{% block content %}
{% load url from future %}
<h2>Projects <a class="button" href="{% url 'projects-create' %}">New Project</a></h2>

<table class="table-info">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{% url 'projects-detail' project.pk %}">{{ project.name }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

