{% extends "base.html" %}

{% load permissions %}
{% block breadcrums %}
    <li><a href="{% url 'projects-all' %}">Projects</a></li>
{% endblock %}
{% block content %}
<h2>Projects <a class="button" href="{% url 'projects-create' %}">New Project</a></h2>

<table class="table-info">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
            <tr>
                <td>
                    <a href="{% url 'projects-detail' project.pk %}">{{ project.name }}</a> 
                    {% if user|can_edit:project %}
                        <a href="{% url 'projects-edit' project.pk %}" class="button">Edit</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Report</h2>
<p><a href="{% url 'projects-reports-mega' %}">Mega</a></p>
{% endblock %}

