{% extends "base.html" %}

{% block breadcrums %}
    <li><a href="{% url 'projects-all' %}">Projects</a></li>
    {% if form.instance.pk %}
        <li><a href="{% url 'projects-detail' form.instance.pk %}">{{ form.instance.name }}</a></li>
        <li>Edit</li>  
    {% else %}
        <li>Create</li>
    {% endif %}
{% endblock %}
{% block content %}
{% if form.instance.pk %}
    <h2>Edit {{ form.instance.name }}</h2>
{% else %}
    <h2>Create a new Project</h2>
{% endif %}
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="submit" value="Submit" />
</form>
{% endblock %}

