{% extends "base.html" %}
{% load url from future %}
{% load tickets_time %}
{% block breadcrums %}
    <li><a href="{% url 'projects-all' %}">Projects</a></li>
    <li>{{ project.name }}</li>
{% endblock %}
{% block content %}

<h2>{{ project.name }}</h2>
<script type="text/javascript">
TICKETS = {{ tickets_json|safe }};
$(document).ready(function(){
    $('#ticket-search').bind('keyup', function(e){
        if(e.keyCode == 13){ // user hit enter key
            window.location = $('#ticket-list tbody tr:visible a:first').attr('href');
        }
        var needles = $(this).val().toLowerCase().split(/\s+/g)
        // for each ticket
        for(var i = 0; i < TICKETS.length; i++){
            var ticket = TICKETS[i];
            var elements = $('#t1-' + ticket.ticket_id + ", #t2-" + ticket.ticket_id);
            elements.hide();
            // keep track of how many needles were found
            var found_needles = 0;
            // try to find all the needles in this ticket
            for(var j = 0; j < needles.length; j++){
                var needle = needles[j];
                // search all the fields of this ticket for the needle
                for(var k in ticket){
                    var haystack = ticket[k];
                    if(haystack == null) continue;
                    // found the needle?
                    if(haystack.toString().toLowerCase().indexOf(needles[j]) != -1){
                        found_needles++;
                        break;
                    }
                }
            }
            // if we found all the needles, then this ticket matches our search
            // term
            if(found_needles == needles.length){
                elements.show();
            }
        }
    });
})
</script>

<div class="left-section-wrapper">
    <h3>Tickets 
        <a href="{% url 'tickets-create' project.pk %}" class="button">New Ticket</a>
        <input type="text" name="search" id="ticket-search" placeholder="Search" />
    </h3>
    <div class="clear"></div>
    <table class="table-info" id="ticket-list">
        <thead>
            <tr>
                <th>Ticket</th>
                <th class="center">Status</th>
                <th class="center">Assigned</th>
                <th class="center">Created On</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
                <tr id="t1-{{ ticket.pk }}" class="ticket-status-{{ ticket.status|slugify }} {% cycle 'odd' 'even' %}">
                    <td colspan="4">
                        <span class="ticket-priority ticket-priority-{{ ticket.priority|slugify }} ">{{ ticket.priority }}</span> 
                        <a href="{% url 'tickets-detail' ticket.pk %}">{{ ticket.title }}</a>
                    </td>
                </tr>
                <tr id="t2-{{ ticket.pk }}" class="ticket-status-{{ ticket.status|slugify }} {% cycle 'odd' 'even' %}">
                    <td>{{ ticket.component }}</td>
                    <td class="center">{{ ticket.status }}</td>
                    <td class="center">
                        {% if ticket.assigned_to == user %} 
                            <strong>{{ ticket.assigned_to }}</strong>
                        {% else %}
                            {{ ticket.assigned_to }}
                        {% endif %}
                    </td>
                    <td class="center"><span class="timestamp">{{ ticket.created_on }}</span></td>
                </tr>
            {% empty %}
                <tr><td class="center" colspan="5">No tickets</td></td>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="right-section-wrapper">
    <div class="right-section-block">
        <h3>Add Ticket</h3>
        <form method="post" action="" id="ticket-quick-form">
            {% csrf_token %}
            {% for item in form %}
            {% if item.errors %}
            {{ item.label_tag }} {{ item.errors }}
            {% endif %}
            {% endfor %}
            <label>Body</label>
            {{ form.body }}
            {{ form.estimated_time }}
            {{ form.assigned_to }}
            {{ form.status }}
            {{ form.priority }}
            {{ form.component }}
            <hr />
            <label class="option">{{ form.add_work }} Add work line-item</label>
            <br />

            <input type="submit" name="submit" value="Submit" />
        </form>
    </div>

    <div class="right-section-block">
        <h3>Components <a href="{% url 'components-create' project.pk %}" class="button">Create</a></h3>
        <table class="block-table">
            {% for comp in components %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td><a href="{% url 'components-edit' comp.pk %}" class="discrete">{{ comp.name }}</a></td>
                    <td>{{ comp.total|tickettime }} ({{ comp.billable|tickettime }} billable)</td>
                </tr>
            {% endfor %}
        </table>
    </div>


    <div class="right-section-block">
        {% include 'tickets/_worklog.html' %}
    </div>

    <div class="right-section-block">
        <h3>Reports</h3>
        <div class="inner">
            <ul>
                <li><a href="{% url 'projects-reports-grid' project.pk %}">People and Time</a></li>
                <li><a href="{% url 'projects-reports-component' project.pk %}">Component Breakdown</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

