language: python
python:
  - "3.3"
  - "3.4"
sudo: false
# command to install dependencies
install:
  - cp variables.travis.py variables.py
  - make recreate-db
  - make install
# command to run tests
script: make test
