Django==1.7.2
Markdown==2.5.2
PyMySQL==0.6.2
coverage==3.7.1
-e git+https://github.com/PSU-OIT-ARC/django-arcutils.git@ac0df5ef2c03a7bf12cb10d45ef5b9c484d4f056#egg=django_arcutils-master
django-cloak==0.1.3
django-extensions==1.4.6
django-filter==0.8
-e git+https://github.com/mdj2/djangocas.git@6b5dc4c012b287b7e02b5f6336697cb01955915b#egg=djangocas-master
model-mommy==1.2.2
pyasn1==0.1.7
python3-ldap==0.9.6.2
pytz==2014.9
six==1.7.3
varlet
