/* 
 * green: #6a7f10 
 * light-gray: #ddd;
 */
/*
 * body { 
    background-color:#efefef; 
    font-family:Arial, Arial, sans-serif;
    font-size:14px;
    background-color: rgb(106, 127, 16);
    -webkit-background-size: 50px 50px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, 0.2)), color-stop(.5, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
}
*/
body {
    background-color:#efefef; 
    font-family:Arial, Arial, sans-serif;
    font-size:14px;            
}

h2, h3, h4 {
    margin-bottom:0;
}

.pad5 {padding: 5px; }

.left { float:left;}


.iblock { display: inline-block;}

textarea {
    width:100%;
    box-sizing:border-box;
}

label {
    display:block;
}

label.roomy {
    margin-top:10px;
}

input {
    display:block;
}

.inline {
    display:inline;
}

.errorlist {
    color:#ff0000;
}

.error {
    color:#ff0000;
}

p.error {
    margin:0;
    padding:0;
}

.clear {
    clear:both;
}

.option input {
    display:inline;
}

.helptext {
    font-size:10px;
}

.django-checkbox-list ul {
    list-style-type:none;
    margin-left:0;
    padding-left:0;
}

.django-checkbox-list input {
    display:inline;
}

.discrete {
    color:inherit;
}

.float-left {
    float:left;
}

.float-right {
    float:right;
}

.split {
    width:48%;
    margin: 1%;
}

.table-scroller {
    overflow:scroll;
}

.report {
    background-color:#fff;
    border-spacing:0;
    border-collapse:collapse;
    width:100%;
    overflow:scroll;
}

.report th {
    text-align:left;
}

.report th, .report td {
    /*border:1px solid black;*/
}

.report .summary {

}

.report tr.odd td {
    background-color:#efefef;
}



/* these colors are from twitter bootstrap */
.label-default {
    background-color:#999999;
}

.label-success {
    background-color:#468847;
}

.label-warning {
    background-color:#f89406;
}

.label-important{
    background-color:#b94a48;
}

.label-info {
    background-color:##3a87ad;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 1px solid #fbeed5;
    background-color: #fcf8e3;
    color: #c09853;
}

.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
 
/* end bootstrap stuff */
.messages {
    margin-top:10px;
}

.center {
    /* override default alignment */
    text-align:center !important;
}

.right {
    /* override default alignment */
    text-align:right !important;
}

.button {
    color:inherit;
    font-size:10px;
    display:inline-block;
    font-family:Verdana, Arial;
    vertical-align:middle;
    text-transform:uppercase;
    font-weight:bold;
}

.table-info {
    border-spacing:0;
    width:100%;
}

.table-info th {
    background-color:#6a7f10;
    color:#fff;
    text-align:left;
    padding:3px;
}

.table-info td {
    padding:3px;
}

.table-info tr.even td,
.table-info tr.even th {
    background-color:#efefef;
}

.project-list {
    margin-bottom:30px;
}

.project-list:last-of-type {
    margin-bottom:0px;
}

#wrapper {
    width:960px;
    margin:auto;
    background-color:#fff;
}

#header {
    background-color:#6a7f10;
    padding:3px;
}

#header a:link,
#header a:visited,
#header a:hover {
    color:#ffffff;
}

#nav-account {
    float:right;
    list-style-type:none;
    margin:0;
}

#nav-account li {
    float:left;
    margin-left:10px;
}

#nav-breadcrums {
    float:left;
    list-style-type:none;
    margin:0;
    color:#fff;
    padding:0;
}


#nav-breadcrums li {
    float:left;
}

#nav-breadcrums li:after {
    padding-left:5px;
    padding-right:5px;
    content: ">";
}

#nav-breadcrums li:last-child:after {
    content:"";
    padding-left:0;
    padding-right:0;
}

#content {
    padding-left:20px;
    padding-right:20px;
}

.left-section-wrapper {
    width:600px;
    float:left;
}

.ticket {
    border:1px solid #ddd;
    border-radius:5px;
    margin-top:10px;
}

.ticket-info {
    background-color:#6a7f10;
    padding:5px;
    color:#fff;
}

.ticket-info ul {
    float:left;
    list-style-type:none;
    margin:0;
    padding:0;
    font-size:12px;
}

.ticket-info li {
    float:left;
    margin-right:10px;
}

.ticket-status {
    background-color:#ffffff;
    color:#000;
}

.ticket-body {
    padding:5px;
    font-size:16px;

}

.comment-info {
    background-color:#ddd;
    padding:5px;
}

.comment-info ul {
    float:left;
    list-style-type:none;
    margin:0;
    padding:0;
    font-size:12px;
}

.comment-info li {
    float:left;
    margin-right:10px;
}

.right-section-wrapper h3 {
    margin-top:0px;
    color:#fff;
    padding:3px;
}

.right-section-wrapper {
    float:right;
    width:300px;
}

.right-section-block {
    background-color:#6a7f10;
    border:1px solid #6a7f10;
    border-radius:5px;
    padding-bottom:5px;
    margin-bottom:10px;
}

#todo-tickets-right{
    padding:5px;
}
.inner {
    background-color:#fff;
    padding:3px;
}

#work-form {
    background-color:#fff;
}

.timer-clock-control {
    font-size:12px;
}

.block-table {
    font-size:12px;
    background-color:#fff;
    width:100%;
    border:none;
    border-spacing:0;
}

.block-table th {
    padding:0;
    text-align:left;
    padding-top:3px;
}

.block-table td {
    padding-bottom:3px;
    padding-left:3px;
}

.block-table th:first-child {
    padding-left:3px;
}

.block-table th:last-child {
    text-align:right;
    padding-right:3px;
}

.block-table tr.even td,
.block-table tr.even th {
    background-color:#efefef;
}

.block-table p {
    padding:0;
    margin:0;
}

#work-form {
    padding:3px;
}

#work-form input, #work-form label {
    display:inline-block;
}

#work-form #id_time, #work-form label {
    width:80px;
}

#work-form label {
    padding-right:4px
}

.ticket-priority {
    display:inline-block;
    font-size:11px;
    color:#ffffff;
    font-weight:bold;
    padding:3px;
    border-radius:5px;
    vertical-align:middle;
}

.ticket-priority-normal {
    background-color:#f89406;
}

.ticket-priority-high {
    background-color:#b94a48;
}

.ticket-priority-low {
    background-color:#3a87ad;
}

.ticket-status-closed {
}

.ticket-status-closed td,
.ticket-status-completed td {
    opacity:.3;
}

.ticket-status-closed:hover td {
}

#ticket-quick-form {
    background-color:#fff;
    padding:3px;
}

.time-grid {
}

.time-grid tfoot th, .time-grid tfoot td{
    border:1px solid black;
}

.time-grid th {
    text-align:center;
    padding-left:3px;
    padding-right:3px;
    border-left :1px solid black;
    border-right:1px solid black;
}

.time-grid thead td {
    font-size:11px;
    text-align:center;
    padding-left:3px;
    padding-right:3px;
}

.time-cell {
    text-align:center;
    padding-left:3px;
    padding-right:3px;
}

.border-left {
    border-left:1px solid black;
}

.border-right {
    border-right:1px solid black;
}

.time-cell.border-right {
    padding-right:5px;
}
.time-cell.border-left {
    padding-left:5px;
}

.report .username {
    text-align:right;
    padding-right:5px;
}

.files-table {
    width:100%;
}

.files-table td {
    vertical-align:top;
}

.tip {
    display:none;
    padding-bottom: 10px;
}

li.hover {
    color:white;
    padding: 5px 5px 5px 5px;
    list-style: none;
}

.tip-show {
    background:#87983F;
    border-radius: 3px;
    width:100%;
}

/*tablesorter css*/
th.header { 
    background-image: url(../img/bg.gif);     
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left; 
    padding-left: 20px; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
}

th.headerSortDown { 
        background-image: url(../img/desc.gif); 
}          

th.headerSortUp { 
    background-image: url(../img/asc.gif); 
}

#minmax, #ticket-search { margin-top: 22px; }

#ticket-table tr.odd, #todo-table tr.odd {
    background-color:rgb(239, 239, 239);
}

/*scrum styles */
.small {
    font-size: .75em;}

ul.stripe {
    list-style: none;
    padding:3px;}

li.odd {
    background-color:rgb(239, 239, 239);
}

#page {
    background:white;}

div.triptych {
    width:31%;
    margin: 1%;
}

