{% extends "base.html" %}
{% block page_title %}{% if ticket %}Edit Ticket{% else %}Create Ticket{% endif %}{% endblock %}
{% block breadcrums %}
    <li><a href="{% url 'projects-all' %}">Projects</a></li>
    <li><a href="{% url 'projects-detail' project.pk %}">{{ project.name }}</a></li>
    <li>Tickets</li>
    {% if ticket %}
        <li><a href="{% url 'tickets-detail' ticket.pk %}">{{ ticket.title }}</a></li>
        <li>Edit</li>
    {% else %}
        <li>Create</li>
    {% endif %}
{% endblock %}
{% block content %}
{% if ticket %}
    <h2>Edit {{ ticket.title }}</h2>
{% else %}
    <h2>Create a new Ticket</h2>
{% endif %}

{% for field in form %}
    {% if field.errors %}
        {{ field.name }}
        {{ field.errors }}
    {% endif %}
{% endfor %}

<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.title.label_tag }}
    {{ form.title }}
    {{ form.assigned_to }}
    {{ form.status }}
    {{ form.priority }}
    {{ form.component }}

    {{ form.body.label_tag }}
    {{ form.body }}

    <div class="clear"></div>
    <div class="float-left">
        {{ form.started_on.label_tag }}
        {{ form.started_on }}
    </div>

    <div class="float-left">
        {{ form.estimated_time.label_tag }}
        {{ form.estimated_time }}
    </div>
    <div class="float-left">
        {{ form.due_on.label_tag }}
        {{ form.due_on }}
    </div>
    <div class="float-left">
        {{ form.milestone.label_tag }}
        {{ form.milestone }}
    </div>
    <div class="clear"></div>

    {% if not form.instance.pk %}
        <label class="option">{{ form.add_work }} Add work-line item to ticket</label>
    {% endif %}

    <label class="option" style="margin-top:10px;margin-bottom:10px;">{{ form.is_extra }} {{ form.is_extra.label }}</label>
    <label class="option" style="margin-top:10px;margin-bottom:10px;">{{ form.is_internal }} {{ form.is_internal.label }}</label>


    <table class="files-table">
        <tr>
            <td>
                <h3>Upload Files</h3>
                {{ form.files }}
            </td>
            <td>
                <h3>Remove Existing Files</h3>
                <div class="django-checkbox-list">
                    {{ form.existing_files }}
                </div>
            </td>
        </tr>
    </table>

    <label class="option float-right">{{ form.is_deleted }} {{ form.is_deleted.label }}</label>

    <input type="submit" name="submit" value="Submit" class="float-left" />
    {% if not form.instance.pk %}
        <input type="submit" name="submit" value="Submit and Add New Ticket" class="float-left" />
    {% endif %}


</form>
{% endblock %}

