{% extends "project_base.html" %}
{% load addcss %}

{% block page_title %}{% if ticket %}Edit Ticket{% else %}Create Ticket{% endif %}{% endblock %}

{% block content %}
<div class='container'>
  {% if ticket %}
    <h2><strong>Edit</strong> {{ ticket.title }}</h2>
  {% else %}
    <h2>Create a new Ticket</h2>
  {% endif %}
</div>

<form class='ticket-form' method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}
    {{ form.title | bs_group:'12'}}
    {{ form.assigned_to | bs_group:'2' }}
    {{ form.status | bs_group:'2' }}
    {{ form.priority | bs_group:'2' }}
    {{ form.component | bs_group:'2' }}
    {{ form.branch | bs_group:'2' }}
    {{ form.release | bs_group:'2' }}
    {{ form.body | bs_group:'12' }}
    {{ form.started_on | bs_group:'2' }}
    {{ form.estimated_time | bs_group:'2' }}
    {{ form.due_on | bs_group:'2' }}
    {{ form.milestone | bs_group:'2' }}
    {{ form.type | bs_group:'2' }}
       
    {% if not form.instance.pk %}
        <label class="option">{{ form.add_work }} Add work-line item to ticket</label>
    {% endif %}
    
    <div class='col-md-12'>
      <label class="option checkbox-inline" style="margin-top:10px;margin-bottom:10px;">{{ form.is_extra }} {{ form.is_extra.label }}</label>
    </div>
    <div class='col-md-12'>
      <label class="option checkbox-inline" style="margin-top:10px;margin-bottom:10px;">{{ form.is_internal }} {{ form.is_internal.label }}</label>
    </div>
    <table class="table files-table">
        <tr>
            <td>
                <h3>Upload Files</h3>
                {{ form.files |bs_group:'8'}}
            </td>
            <td>
                {% if form.hasFiles %}
                <h3>Remove Existing Files</h3>
                <div class="django-checkbox-list">
                    {{ form.existing_files }}
                </div>
                {% endif %}
            </td>
        </tr>
    </table>
    <div class='col-md-2 form-group'> 
      <input type="submit" class='form-control btn btn-primary btn-sm' name="submit" value="Submit" class="pull-left" />
    </div>
    {% if not form.instance.pk %}
    <div class='col-md-3 form-group'> 
        <input type="submit" name="submit" class='form-control btn-primary btn-sm' value="Submit and Add New Ticket" class="pull-left" />
    </div>
    {% endif %}
      <label class="option pull-left checkbox-inline col-md-6">{{ form.is_deleted}}{{form.is_deleted.label }}</label>

</form>

<script type='text/javascript'>
 $(document).ready(function(){
 if (parseFloat(cssua.ua.chrome) > 20.0) {
    $('input[type=date]').each(function(){
      var d = $.trim(this.getAttribute('value'));
      if (d){
        d = new Date(d);
        var dStr = d.toISOString().split('T')[0];
        this.value = dStr; 
      }
    });
  }    
 });
    var errors = {};
    {% for field in form %}
        {% if field.errors %}
           errors['#id_{{ field.name }}']=('{{ field.errors |safe }}');
        {% endif %}
    {% endfor %}
    for (key in errors){
        $(key).before(errors[key]).parent('.form-group').addClass('has-error');
    }
</script>
{% endblock %}

