{% extends "project_base.html" %}

{% load tickets %}
{% load addcss %}

{% block page_title %}{{ ticket.title }}{% endblock %}
{% block breadcrums %}
    <li><a href="{% url 'projects-all' %}">Projects</a></li>
    <li><a href="{% url 'projects-detail' project.pk %}">{{ project.name }}</a></li>
    {% if ticket.todos.count  %}
    <li><a href="{% url 'todos-list' project.pk %}">Todos</a></li>
    {% endif %}
    {% if return_to %}
    <li><a href="{% url 'todos-prioritize' project.pk %}">Prioritize</a></li>
    {% endif %}
    {% if perms.tickets.change_ticket %}
        {% if project.is_scrum %}
            <li><a href="{% url 'tickets-list' project.pk %}?sprint_end={{project.current_sprint_end | date:'c'}}">Tickets</a></li>
        {% else %}
            <li><a href="{% url 'tickets-list' project.pk %}">Tickets</a></li>
        {% endif %}
    {% else %}
    <li>Tickets</li>
    {% endif %}
    <li title="{{ ticket.title }}">{{ ticket.title|truncatechars:50 }}</li>
{% endblock %}

{% block content %}

<h3>
    <span class="label lameo ticket-priority ticket-priority-{{ ticket.priority|slugify }} ticket-status-{{ ticket.status|slugify }}">{{ ticket.priority }}</span>
    #{{ ticket.pk }}: {{ ticket.title | truncatechars:50}} 
    {% if perms.tickets.change_ticket %}
    <a href="{% url 'tickets-edit' ticket.pk %}" class="btn btn-primary btn-xs">Edit</a>
    {% endif %}
    <a href="{% url 'tickets-create' project.pk %}" class="btn btn-primary btn-xs">New Ticket</a> 
</h3>
<hr>
<div class="col-md-8 left-section-wrapper">
    <div class="well ticket">
        <div class="ticket-body">
            <div class="markdown">{{ ticket.body|frommarkdown }}</div>
        </div>
        <div class="ticket-info ticket-status">
            <ul class='col-md-4'>
                <li><strong>Component:</strong> {{ ticket.component }} </li>
                <li><strong>Status:</strong> {{ ticket.status }}</li>
                {% if ticket.milestone %}
                    <li><strong>Milestone:</strong> {{ ticket.milestone.name }} </li>
                {% endif %}
            </ul>
            <ul class='col-md-4'>
                <li><strong>Assigned To:</strong> {{ ticket.assigned_to }}</li>
                <li><strong>Created:</strong> <span class="timestamp">{{ ticket.created_on }}</span> by {{ ticket.created_by }}</li>
            </ul>
            <ul>
                <li><strong>Estimated Time:</strong> {{ ticket.estimated_time|tickettime }}</li>
                <li><strong>Current Time:</strong> {{ times.total|tickettime }} ({{ times.billable|tickettime }} billable)</li>
                {% if ticket.due_on %}
                    <li><strong>Due On:</strong> {{ ticket.due_on }} </li>
                {% endif %}
            </ul>
            {% if ticket.branch or ticket.release %}
                <ul>
                    <li><strong>Branch:</strong> {{ ticket.branch }}</li>
                    <li><strong>Release:</strong> {{ ticket.release }}</li>
                </ul>
            {% endif %}
            {% if ticket.todos %}
                <ul style='width:100%'><strong>To Do Items:</strong>
                {% for todo in ticket.todos.all %}
                    <li style='width:100%'><a href="{% url 'todos-detail' todo.pk %}">#{{ todo.pk }} {{ todo.title | truncatechars:50 }}</a></li>
                {% endfor %} 
                </ul>
            {% endif %}
            <div class="clear"></div>
        </div>
    </div>

    <h3>Comments</h3>
    <div class="ticket-comments">
        {% for comment in comments %}
            <div class="ticket">
                <div class="comment-info">
                {% if comment.todo %}
                    <div><strong>To Do Comment </strong></div>
                {% endif %}
                    <ul>
                        <li><strong>Author:</strong> {{ comment.created_by }}</li>
                        <li><strong>Created On:</strong> <span class="timestamp">{{ comment.created_on }}</span></li>
                        {% if perms.tickets.change_comment %}
                            {% if comment.todo %}
                              <li><a href="{% url 'comments-edit' comment.pk %}/?return_to={{ticket.pk}}" class="btn btn-primary btn-xs">Edit</a></li>
                            {% else %}
                              <li><a href="{% url 'comments-edit' comment.pk %}" class="btn btn-primary btn-xs">Edit</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="ticket-body">
                    <div class="markdown">{{ comment.body|frommarkdown }}</div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="ticket-add-comment">
        <form method="post" action="">
            <input type="hidden" name="form_type" value="comment_form" />
            {% csrf_token %}
            <h4>Add Comment</h4>
            {{ comment_form.body.errors }}
            {{ comment_form.body }}
            {{comment_form.cc.label}}: {{ comment_form.cc }}
            <input class='btn btn-primary btn-xs'type="submit" name="submit" value="Add" class="submit float-right" />
        </form>
    </div>
</div>

<div class="col-md-4 right-section-wrapper">
    <div class="panel panel-default right-section-block">
        <div class='panel-heading'>Running Work <a class="pull-right timer-clock-control btn btn-primary btn-xs" href="{% url 'work-create' ticket.pk %}" id="timer-clock">Start Work</a></div>
        <table class="table block-table">
        {% for w in running_work %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td>{{ w.created_by }}</td>
                <td>{{ w.duration|tickettime }}</td>
                <td>
                    {% if perms.tickets.change_work %}
                        {% if w.state == w.PAUSED %}
                            <a href="{% url 'work-continue' w.pk %}">Continue</a>
                        {% else %}
                            <a href="{% url 'work-pause' w.pk %}">Pause</a></td>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if perms.tickets.change_work %}
                        <a href="{% url 'work-edit' w.pk %}">Complete</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <div class="panel panel-default right-section-block">
      <div class='panel-heading' >Add Work </div>
      <div class='panel-body'>
        <form id="work-form" class='form-group form-inline' action="" method="post">
            {% if work_form.errors %}
                <p class="error">
                {% for field in work_form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </p>
            {% endif %}
            <input type="hidden" name="form_type" value="work_form" />
            {% csrf_token %}
            <p>{{ work_form.time }} {{ work_form.description }}</p>
            <p><label class="billable">{{ work_form.billable }} Billable</label>
              {{ work_form.type |addcss:'form-control'}}
              <input class='btn btn-primary btn-xs pull-right' type="submit" name="submit" value="Add" class="inline" /></p>
        </form>
      </div>
    </div>

    {% include 'tickets/_worklog.html' %}

    <div class="panel panel-default right-section-block">
      <div class='panel-heading'>Files</div>
      <div class='panel-body'>
        <table class="block-table">
        {% for tf in files %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td>{{ tf.uploaded_by }}</td>
                <td><a href="{{ MEDIA_URL }}{{ tf.file.name }}">{{ tf.file.name }}</a></td>
            </tr>
        {% endfor %}
        </table>
      </div>  
    </div>
</div>

{% endblock %}

