{% extends "project_base.html" %}

{% load tickets %}
{% load addcss %}

{% block form_media %}
    {{ comment_form.media}}
{% endblock %}
{% block page_title %}{{ ticket.title }}{% endblock %}
{% block content %}
<h3>
    <span class="label lameo ticket-priority ticket-priority-{{ ticket.priority|slugify }} ticket-status-{{ ticket.status|slugify }}">{{ ticket.priority }}</span>
    #{{ ticket.pk }}: {{ ticket.title | truncatechars:50}}
    {% if perms.tickets.change_ticket %}
    <a href="{% url 'tickets-edit' ticket.pk %}" class="btn btn-primary btn-xs">Edit</a>
    {% endif %}
    <a href="{% url 'tickets-create' project.pk %}" class="btn btn-primary btn-xs">New Ticket</a>
</h3>
<hr>
<div class="col-md-8 left-section-wrapper">
    <div class="panel panel-default pull-left  ticket">
        <div class="panel-body ticket-body">
            <div class="markdown">{{ ticket.body|frommarkdown }}</div>
        </div>
        <div class="panel-footer pull-left ticket-info ticket-status">
            <ul class='col-md-3 '>
                <li><strong>Component:</strong> {{ ticket.component }} </li>
                <li><strong>Status:</strong> {{ ticket.status }}</li>
                {% if ticket.milestone %}
                    <li><strong>Milestone:</strong> <a href="{% url 'milestones-detail' ticket.milestone.pk %}">{{ ticket.milestone.name }}</a></li>
                {% endif %}
            </ul>
            <ul class='col-md-3 '>
                <li><strong>Assigned To:</strong> {{ ticket.assigned_to }}</li>
                <li><strong>Created:</strong> <span class="timestamp">{{ ticket.created_on | date:"SHORT_DATE_FORMAT"}}</span> by {{ ticket.created_by }}</li>
            </ul>
            <ul class='col-md-3 '>
                <li><strong>Estimated Time:</strong> {{ ticket.estimated_time|tickettime }}</li>
                <li><strong>Current Time:</strong> {{ times.total|tickettime }} ({{ times.billable|tickettime }} billable)</li>
                {% if ticket.due %}
                    <li><strong>Due On:</strong> {{ ticket.due |date:"SHORT_DATE_FORMAT" }} </li>
                {% endif %}
            </ul>
            {% if ticket.branch or ticket.release %}
                <ul class='col-md-3 '>
                    <li><strong>Branch:</strong> {{ ticket.branch }}</li>
                    <li><strong>Release:</strong> {{ ticket.release }}</li>
                </ul>
            {% endif %}
            {% if ticket.todos.exists %}
                <ul class='col-md-12 pull-left'><strong>To Do Items:</strong>
                {% for todo in ticket.todos.all %}
                    <li style='width:100%'><a href="{% url 'todos-detail' todo.pk %}">#{{ todo.pk }} {{ todo.title | truncatechars:50 }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            <div class="clear"></div>
        </div>
    </div>

    <h4>Comments</h4>
    <div class="ticket-comments">
        {% for comment in comments %}
            <div class="panel panel-default ticket">
                <div class="panel-heading comment-info">
                {% if comment.todo %}
                    <div><strong>To Do Comment </strong></div>
                {% endif %}
                    <ul class='list-inline'>
                        <li><strong>Author:</strong> {{ comment.created_by }}</li>
                        <li><strong>Created On:</strong> <span class="timestamp">{{ comment.created_on }}</span></li>
                        {% if perms.tickets.change_comment %}
                            {% if comment.todo %}
                              <li><a href="{% url 'comments-edit' comment.pk %}/?return_to={{ticket.pk}}" class="btn btn-primary btn-xs">Edit</a></li>
                            {% else %}
                              <li><a href="{% url 'comments-edit' comment.pk %}" class="btn btn-primary btn-xs">Edit</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="panel-body ticket-body">
                    <div class="markdown">{{ comment.body|frommarkdown }}</div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="panel panel-default ticket-add-comment">
        <div class='panel-heading'><strong>Add Comment</strong></div>
        <form method="post" action="">
            <input type="hidden" name="form_type" value="comment_form" />
            {% csrf_token %}
            {{ comment_form.body.errors }}
            {{ comment_form.body }}
        <div class='panel-footer'>
            {{comment_form.cc.label}}: {{ comment_form.cc }}
            <input class='btn btn-primary btn-sm pull-right' type="submit" name="submit" value="Add" class="submit float-right" />
        </form>
        </div>
    </div>
</div>

<div class="col-md-4 right-section-wrapper">
    <div class="panel panel-default right-section-block">
        <div class='panel-heading'>Running Work <a class="pull-right timer-clock-control btn btn-primary btn-xs" href="{% url 'work-create' ticket.pk %}" id="timer-clock">Start Work</a></div>
        <table class="table block-table">
        {% for w in running_work %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td>{{ w.created_by }}</td>
                <td>{{ w.duration|tickettime }}</td>
                <td>
                    {% if perms.tickets.change_work %}
                        {% if w.state == w.PAUSED %}
                            <a href="{% url 'work-continue' w.pk %}">Continue</a>
                        {% else %}
                            <a href="{% url 'work-pause' w.pk %}">Pause</a></td>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if perms.tickets.change_work %}
                        <a href="{% url 'work-edit' w.pk %}">Complete</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>

    <div class="panel panel-default right-section-block">
      <div class='panel-heading' >Add Work </div>
      <div class='panel-body'>
        <form id="work-form" method="post" action="">
            {% if work_form.errors %}
                <p class="error">
                {% for field in work_form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </p>
            {% endif %}
            {% csrf_token %}
            <input type="hidden" name="form_type" value="work_form" />
            <div class="form-group">
                {{ work_form.time|addcss:'form-control' }}
            </div>
            <div class="form-group">
                {{ work_form.description|addcss:'form-control' }}
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <label class="billable">{{ work_form.billable }} Billable</label>
                </div>
                <div class="form-group">
                    {{ work_form.type|addcss:'form-control' }}
                </div>
                <div class="form-group pull-right">
                    <input class='btn btn-primary btn-xs' type="submit" name="submit" value="Add" />
                </div>
            </div>
        </form>
      </div>
    </div>

    {% include 'tickets/_worklog.html' %}

    <div class="panel panel-default right-section-block">
      <div class='panel-heading'>Files</div>
        <table class="table table-condensed">
        {% for tf in files %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td>{{ tf.uploaded_by }}</td>
                <td><a href="{{ MEDIA_URL }}{{ tf.file.name }}">{{ tf.file.name }}</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>

{% endblock %}

