{% extends 'bootstrap_base.html' %}
{% block scripts %}
{% endblock %}
{% block page_title %}Tickets{% endblock %}
{% block navigation %}
    {% if perms.projects.can_view_all %}
        <li><a href="{% url 'projects-all' %}">Projects</a></li>
        <li><a href="{% url 'projects-detail' project.pk %}">{{ project.name }}</a></li>
        <li><a href="{% url 'projects-dashboard' project.pk %}">Dashboard</a></li>
        <li class='active'><a href="{% url 'tickets-list' project.pk %}">Tickets</a></li>
    {% else %}
        <li><a href="{% url 'accounts-profile' %}">My Projects</a></li>
        <li><a href="{% url 'projects-meta' project.pk %}">{{ project.name }}</a></li>
     {% endif %}
    {% if project.is_scrum %} 
    <li><a href="{% url 'todos-list' project.pk %}?sprint_end={{project.current_sprint_end}}">To Do Items</a></li>
    <li><a href="{% url 'projects-scrum' project.pk %}">Scrum</a></li>
    {% else %}
    <li><a href="{% url 'todos-list' project.pk %}">To Do Items</a></li>
    {% endif %}
{% endblock %}

{%block content %}
    <script type='text/javascript' src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script type='text/javascript'>
        $(document).ready(function(){
            $('#ticket-table').tablesorter();}
            );
    </script>

    <div id='content-wrapper' style='min-height:400px;'>
    <div class='row'>
    <h2> {{ project.name }}</h2>
    <hr>
    <h2 class='col-md-5'>Tickets
    <small><a href="{% url 'tickets-create' project.pk %}" class="btn btn-primary btn-xs">New Ticket</a></small>
    </h2>
    <form class='pull-right' style='margin-top:20px' id='search' method='GET'>
      <input type='text' name='q' placeholder='Search'></input>
    </form>
    </div>
    {% include 'filterset.html' %}
   {% if do_pagination %}
    <div class="clear"></div>
    {% include 'pagination.html' %}
  {% endif %}

    <table cellpadding='5px' id='ticket-table' class='table table-striped tablesorter' style='width:100%;'>
        <thead  style='background:rgb(106, 127, 16);border-bottom:solid 1px grey;padding:5px;color:white'>
            <th>Ticket</th>
            <th>Status</th>
            <th>Assigned</td>
            <th>Due Date</td>
            <th>Priority</th>
        </thead>
    <tbody>
    {% for ticket in tickets %}
        <tr class='{% cycle 'odd' 'even' %}'>
            <td style='padding:5px'><a href="{% url "tickets.views.detail" ticket.pk %}">#{{ticket.pk}} {{ ticket.title }}</a> </td>
            <td style='padding:5px'>{{ ticket.status }}</td>
            <td style='padding:5px;'>{{ ticket.assigned_to }}</td> 
            <td style='padding:5px'>{{ ticket.due_on |date:"M d, Y" }}</td>
            <td style='padding:5px;'>{{ ticket.priority }}</td> 
        </tr>
    {% empty %}
        <tr><td>No tickets match your search</td></tr>
    {% endfor %}
    </tbody>    
    </table>
    </div>
{% endblock %}
