{% extends "base.html" %}
{% load url from future %}
{% block content %}

<h2>{{ project.name }}: #{{ ticket.pk }} {{ ticket.title }} <a href="{% url 'tickets-edit' project.pk ticket.pk %}">Edit</a></h2>
<ul>
    <li><strong>Priority:</strong> {{ ticket.priority }}</li>
    <li><strong>Status:</strong> {{ ticket.status }}</li>
    <li><strong>Assigned To:</strong> {{ ticket.assigned_to }}</li>
</ul>
<div class="ticket-description">
    {{ ticket.body|safe }}
</div>

<div class="ticket-comments">
    {% for comment in comments %}
        <div class="ticket-comments-comment">
            <p>{{ comment.created_by }} | {{ comment.created_on }}</p>
            {{ comment.body|safe }}
        </div>
    {% endfor %}
</div>

<div class="ticket-add-comment">
    <form method="post" action="">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" name="submit" value="Add" />
    </form>
</div>

{% endblock %}

