{% extends "base.html" %}
{% load url from future %}
{% block breadcrums %}
    <li><a href="{% url 'projects-all' %}">Projects</a></li>
    <li><a href="{% url 'projects-detail' project.pk %}">{{ project.name }}</a></li>
    {% if ticket %}
        <li><a href="{% url 'tickets-detail' ticket.pk %}">{{ ticket.title }}</a></li>
        <li>Edit</li>
    {% else %}
        <li>Create Ticket</li>
    {% endif %}
{% endblock %}
{% block content %}
{% if ticket %}
    <h2>Edit {{ ticket.title }}</h2>
{% else %}
    <h2>Create a new Ticket</h2>
{% endif %}
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="submit" value="Submit" />
</form>
{% endblock %}

