{% extends "base.html" %}
{% load url from future %}
{% block breadcrums %}
    <li><a href="{% url 'projects-all' %}">Projects</a></li>
    <li><a href="{% url 'projects-detail' project.pk %}">{{ project.name }}</a></li>
    {% if ticket %}
        <li><a href="{% url 'tickets-detail' ticket.pk %}">{{ ticket.title }}</a></li>
        <li>Edit</li>
    {% else %}
        <li>Create Ticket</li>
    {% endif %}
{% endblock %}
{% block content %}
{% if ticket %}
    <h2>Edit {{ ticket.title }}</h2>
{% else %}
    <h2>Create a new Ticket</h2>
{% endif %}
<form method="post" action="">
    {% csrf_token %}
    {{ form.title.label_tag }}
    {{ form.title }}
    {{ form.assigned_to }}
    {{ form.status }}
    {{ form.priority }}
    {{ form.component }}

    {{ form.body.label_tag }}
    {{ form.body }}

    <div class="clear"></div>
    <div class="float-left">
    {{ form.started_on.label_tag }}
    {{ form.started_on }}
    </div>

    <div class="float-left">
    {{ form.estimated_time.label_tag }}
    {{ form.estimated_time }}
    </div>
    <div class="clear"></div>

    <label class="option" style="margin-top:10px;margin-bottom:10px;">{{ form.is_extra }} {{ form.is_extra.label }}</label>
    <label class="option float-right">{{ form.is_deleted }} {{ form.is_deleted.label }}</label>
    <input type="submit" name="submit" value="Submit" />
</form>
{% endblock %}

