{% extends "base.html" %}
{% block page_title %}{% if todo %}Edit Request{% else %}Create a To Do Item{% endif %}{% endblock %}
{% block breadcrums %}
    <li><a href="{% url 'projects-all' %}">Projects</a></li>
    <li><a href="{% url 'projects-detail' project.pk %}">{{ project.name }}</a></li>
    <li><a href='{% url 'todos-list' project.pk %}'>To Do Items</a></li>
    {% if todo %}
        <li><a href="{% url 'todos-detail' todo.pk %}">{{ todo.title }}</a></li>
        <li>Edit</li>
    {% else %}
        <li>Create</li>
    {% endif %}
{% endblock %}
{% block content %}
{% if todo %}
    <h2>Edit {{ todo.title }}</h2>
{% else %}
    <h2>Create a new To Do Item</h2>
{% endif %}

{% for field in form %}
    {% if field.errors %}
        {{ field.name }}
        {{ field.errors }}
    {% endif %}
{% endfor %}

<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.title.label_tag }}
    {{ form.title }}
    <table>
        <tr>
            <td>Status</td>
            <td>Priority</td>
            <td>Component</td>
        </tr>
        <tr>
            <td>{{ form.status }}</td>
            <td>{{ form.priority }}</td>
            <td>{{ form.component }}</td>
        </tr>
    </table>

    <div class="clear"></div>
    
    <label class="roomy">{{ form.body.label }}</label>
    {{ form.body }}
    
    <div class='clear'></div>
    <table>
        <tr>
            <td><h3>Associated Ticketdds:</h3>
                


    <div class="clear"></div>
    <table>
        <tr>
            <td>{{ form.started_on.label }}</td>
            <td>{{ form.estimate.label }}</td>
            <td>{{ form.due_on.label }}</td>
        </tr>
        <tr>
            <td>{{ form.started_on }}</td>
            <td>{{ form.estimate }}</td>
            <td>{{ form.due_on }}</td>
        </tr>
    </table>

    <table class="files-table">
        <tr>
            <td>
                <h3>Upload Files</h3>
                {{ form.files }}
            </td>
            <td>
                {% if form.hasFiles %}
                <h3>Remove Existing Files</h3>
                <div class="django-checkbox-list">
                    {{ form.existing_files }}
                </div>
                {% endif %}
            </td>
        </tr>
    </table>

    <label class="option float-right">{{ form.is_deleted }} {{ form.is_deleted.label }}</label>

    <br />
    <input type="submit" name="submit" value="Submit" class="float-left" />
    {% if not form.instance.pk %}
        <input type="submit" name="submit" value="Submit and Add new To Do Item" class="float-left" />
    {% endif %}


</form>
{% endblock %}

