{% extends "base.html" %}
{% block page_title %}{% if todo %}Edit Request{% else %}Create a To Do Item{% endif %}{% endblock %}
{% block breadcrums %}
    {% if perms.projects.can_view_all %}
        <li><a href="{% url 'projects-all' %}">Projects</a></li>
        <li><a href="{% url 'projects-detail' project.pk %}">{{ project.name }}</a></li>
    {% else %}
        <li><a href="{% url 'accounts-profile' %}">My Projects</a></li>
        <li><a href="{% url 'projects-meta' project.pk %}">{{ project.name }}</a></li>
     {% endif %}
    <li><a href="{% url 'todos-list' project.pk %}">To Do Items</a></li>
    {% if todo %}
        <li><a href="{% url 'todos-detail' todo.pk %}">{{ todo.title }}</a></li>
        <li>Edit</li>
    {% else %}
        <li>Create</li>
    {% endif %}
{% endblock %}
{% block content %}
{% if todo %}
    <h2>Edit {{ todo.title }}</h2>
{% else %}
    <h2>Create a new To Do Item</h2>
{% endif %}

{% for field in form %}
    {% if field.errors %}
        {{ field.name }}
        {{ field.errors }}
    {% endif %}
{% endfor %}

<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.title.label_tag }}
    {{ form.title }}
    <table>
        <tr>
            <td>Status</td>
            <td>Priority</td>
            <td>Component</td>
        </tr>
        <tr>
            <td>{{ form.status }}</td>
            <td>{{ form.priority }}</td>
            <td>{{ form.component }}</td>
        </tr>
    </table>

    <div class="clear"></div>
    
    <label class="roomy">{{ form.body.label }}</label>
    {{ form.body }}
    
    <div class="clear"></div>
    <table>
        <tr>
            <td>{{ form.started_on.label }}</td>
            <td>{{ form.estimate.label }}</td>
            <td>{{ form.due_on.label }}</td>
        </tr>
        <tr>
            <td>{{ form.started_on }}</td>
            <td>{{ form.estimate }}</td>
            <td>{{ form.due_on }}</td>
        </tr>
    </table>
   <div class='clear' ></div>
    {% if perms.tickets.add_ticket %}
        <table class='files-table'>
            <tr>
                <td style='width:532px'><h3>Attach Existing Ticket</h3>
                    {{ form.add_ticket }}
                    {% if form.instance.pk and perms.tickets.add_ticket %}
                       <p> <a class='button' style='padding-left:5px' href='{% url 'tickets-create' project.pk %}?todo_id={{ form.instance.pk }}'>Add New Ticket</a></p>
                    {% endif %}
                </td>
                <td>
                    {% if todo.tickets.all %}
                    <h3>Remove Attached Tickets</h3>
                    <div class='django-checkbox-list'>
                        {{ form.existing_tickets }}
                    </div>
                    {% endif %}
                </td>
            </tr>
        </table>
    {% endif %}    
    <table class="files-table">
        <tr>
            <td>
                <h3>Upload Files</h3>
                {{ form.files }}
                {{ form.files.help_text}}
            </td>
            <td>
                {% if form.hasFiles %}
                <h3>Remove Existing Files</h3>
                <div class="django-checkbox-list">
                    {{ form.existing_files }}
                </div>
                {% endif %}
            </td>
        </tr>
    </table>

    <label class="option float-right">{{ form.is_deleted }} {{ form.is_deleted.label }}</label>

    <br />
    <input type="submit" name="submit" value="Submit" class="float-left" />
    {% if not form.instance.pk %}
        <input type="submit" name="submit" value="Submit and Add new To Do Item" class="float-left" />
    {% endif %}


</form>
<script type='text/javascript'>
    var tickets = new Array();
    $(document).ready(function()
    {
        {% for ticket in project.tickets.all %}
            ticket = new Object();
            ticket.label = '{{ticket | escapejs }}';
            ticket.value = {{ticket.pk }};
            tickets.push(ticket);
        {% endfor %}
        
    $('.autocomplete').autocomplete({
        source: tickets
        });

      /* Workaround: Chrome 20.0 and newer only support 
                 ISO-formatted dates in value attribute. */
  if (parseFloat(cssua.ua.chrome) > 20.0) {
    $('input[type=date]').each(function(){
      var d = $.trim(this.getAttribute('value'));
      if (d){
        d = new Date(d);
        var dStr = d.toISOString().split('T')[0];
        this.value = dStr; 
      }
    });
  }    
 });
</script>
{% endblock %}

