{% extends "project_base.html" %}
{% block styles %}
  <link rel='stylesheet' type='text/css' href="{{ STATIC_URL }}js/jquery-ui/css/smoothness/jquery-ui-1.10.3.custom.min.css">
{% endblock %}

{% block scripts %}
  <script type='text/javascript' src='{{ STATIC_URL }}js/jquery-ui/js/jquery-ui-1.10.3.custom.min.js'></script>
{% endblock %}

{% load addcss %}

{% block page_title %}{% if todo %}Edit Request{% else %}Create a To Do Item{% endif %}{% endblock %}

{% block content %}
<div class='container'>
  {% if todo %}
    <h2><strong>Edit</strong> {{ todo.title }}</h2>
  {% else %}
    <h2>Create a new To Do Item</h2>
  {% endif %}
</div>

{% for field in form %}
    {% if field.errors %}
        {{ field.name }}
        {{ field.errors }}
    {% endif %}
{% endfor %}

<form class='todo-form' method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.title | bs_group:'12' }}
    {{ form.status | bs_group:'2' }}
    {{ form.priority | bs_group:'2' }}
    {{ form.component | bs_group:'2' }}
    {{ form.body | bs_group:'12' }}
    {{ form.started_on | bs_group:'2' }}
    {{ form.estimate | bs_group:'2' }}
    {{ form.due_on | bs_group:'2' }}
   
    {% if perms.tickets.add_ticket %}
        <table class='table'>
            <tr>
                <td>
                <h3>Attach Existing Ticket
                {% if perms.tickets.add_ticket %}
                  <a class='btn btn-primary btn-xs'  href='{% url 'tickets-create' project.pk %}?todo_id={{ form.instance.pk }}'>Add New Ticket</a>
                {% endif %}
                </h3>
                    {{ form.add_ticket | bs_group:'8'}}
                </td>
                <td>
                    {% if todo.tickets.all %}
                    <h3>Remove Attached Tickets</h3>
                    <div class='django-checkbox-list'>
                        {{ form.existing_tickets }}
                    </div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                        </tr>
        </table>
    {% endif %}  

    <table class="table">
        <tr>
            <td>
                <h3>Upload Files</h3>
                <div class='col-md-8 pull-left'>{{ form.files.help_text}}</div>
                {{ form.files | bs_group:'6'}}
            </td>
            <td>
                {% if form.hasFiles %}
                <h3>Remove Existing Files</h3>
                <div class="django-checkbox-list">
                    {{ form.existing_files }}
                </div>
                {% endif %}
            </td>
        </tr>
    </table>


    <div class='col-md-1 form-group'> 
      <input type="submit" name="submit" value="Submit" class="form-control btn btn-primary btn-sm" />
    </div>
    {% if not form.instance.pk %}
    <div class='col-md-2'>
        <input type="submit" name="submit" class='form-control btn btn-primary btn-sm' value="Submit & Add New To Do" class="float-left" />
    </div>
    {% endif %}

    <label class="option pull-left col-md-6">{{ form.is_deleted }} {{ form.is_deleted.label }}</label>

</form>
<script type='text/javascript'>
    var tickets = new Array();
    $(document).ready(function()
    {
        {% for ticket in project.tickets.all %}
            ticket = new Object();
            ticket.label = '{{ticket | escapejs }}';
            ticket.value = {{ticket.pk }};
            tickets.push(ticket);
        {% endfor %}
        
    $('.autocomplete').autocomplete({
        source: tickets
        });

      /* Workaround: Chrome 20.0 and newer only support 
                 ISO-formatted dates in value attribute. */
  if (parseFloat(cssua.ua.chrome) > 20.0) {
    $('input[type=date]').each(function(){
      var d = $.trim(this.getAttribute('value'));
      if (d){
        d = new Date(d);
        var dStr = d.toISOString().split('T')[0];
        this.value = dStr; 
      }
    });
  }    
    {% if project.is_scrum %}
    //average a csv of numbers in estimate input on lose focus
    $('#id_estimate').blur(function(){
        arr = $(this).val().split(',').map(Number); 
        //trailing commas' value is removed
        if(arr[arr.length-1] == 0){
            arr.pop()}; 
        if (arr.length) {
        sum = arr.reduce(function(a,b){
            return a+b;}); 
        sum = sum/arr.length;
        sum = Math.round(sum * 100) / 100;
        $(this).val(sum);} 
    });
    {% endif %}
 });
</script>
{% endblock %}

