{% extends "base.html" %}

{% load tickets %}
{% load permissions %}

{% block page_title %}{{ todo.title }}{% endblock %}
{% block breadcrums %}
    <li><a href="{% url 'projects-all' %}">Projects</a></li>
    <li><a href="{% url 'projects-detail' project.pk %}">{{ project.name }}</a></li>
    <li><a href="{% url 'todos-list' project.pk %}">To Do Items</a></li>
    <li>{{ todo.title }}</li>
{% endblock %}

{% block content %}

<h2>
    <span class="lameo ticket-priority ticket-priority-{{ todo.priority|slugify }} ticket-status-{{ todo.status|slugify }}">{{ todo.priority }}</span>
    #{{ todo.pk }}: {{ todo.title }} 
    {% if user|can_edit:todo %}
    <a href="{% url 'todos-edit' todo.pk %}" class="button">Edit</a>
    {% endif %}
    <a href="{% url 'todos-create' project.pk %}" class="button">New ToDo</a> 
</h2>

<div class="left-section-wrapper">
    <div class="ticket">
        <div class="ticket-body">
            <div class="markdown">{{ todo.body|frommarkdown }}</div>
        </div>
        <div class="ticket-info ticket-status">
            <ul>
                <li><strong>Component:</strong> {{ todo.component }} </li>
                <li><strong>Status:</strong> {{ todo.status }}</li>
                {% if todo.milestone %}
                    <li><strong>Milestone:</strong> {{ todo.milestone.name }} </li>
                {% endif %}
            </ul>
            <ul>
                <li><strong>Created:</strong> <span class="timestamp">{{ todo.created_on }}</span> by {{ todo.created_by }}</li>
            </ul>
            <ul>
                <li><strong>Estimate:</strong> {{ todo.estimate }}</li>
                {% comment %} <li><strong>Current Time:</strong> {{ times.total|tickettime }} ({{ times.billable|tickettime }} billable)</li> {% endcomment %}
                {% if todo.due_on %}
                    <li><strong>Due On:</strong> {{ todo.due_on }} </li>
                {% endif %}
            </ul>
            <div class="clear"></div>
        </div>
    </div>

    <h3>Comments</h3>
    <div class="ticket-comments">
        {% for comment in comments %}
            <div class="todo">
                <div class="comment-info">
                    <ul>
                        <li><strong>Author:</strong> {{ comment.created_by }}</li>
                        <li><strong>Created On:</strong> <span class="timestamp">{{ comment.created_on }}</span></li>
                        {% if user|can_edit:comment %}
                        <li><a href="{% url 'comments-edit' comment.pk %}" class="button">Edit</a></li>
                        {% endif %}
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="ticket-body">
                    <div class="markdown">{{ comment.body|frommarkdown }}</div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="ticket-add-comment">
        <form method="post" action="">
            <input type="hidden" name="form_type" value="comment_form" />
            {% csrf_token %}
            <h4>Add Comment</h4>
            {{ comment_form.body.errors }}
            {{ comment_form.body }}
            <input type="submit" name="submit" value="Add" class="submit" />
        </form>
    </div>
</div>

<div class="right-section-wrapper">
    <div id='todo-tickets-right' class="right-section-block">
        <h3>This Item's Tickets</h3>
        <hr>
        <table class="block-table">
            <li class='button'>Ticket#: Status (?)</li>
            {% for ticket in todo.tickets.all %}
                {% if perms.tickets.add_ticket %}
                    <li class='hover' title="{{ ticket.title|escape }}"><a class='button' href='{% url 'tickets-detail' ticket.ticket_id %}'>#{{ ticket.pk }}: {{ ticket.status }}</a></li>
                {% else %}
                    <li class='hover' title="{{ ticket.title|escape }}"><a class='button' href=#>#{{ ticket.pk }}: {{ ticket.status }}</a></li>
                {% endif %}
            {% endfor %}
            {% if perms.tickets.add_ticket %}
                <a class='button' style='padding-left:5px' href='{% url 'tickets-todo-create' project.pk todo.pk%}'>Add New Ticket</a>
            {% endif %}
        </table>
    </div>
    
    <div class="right-section-block">
        <h3>Files</h3>
        <table class="block-table">
        {% for tf in files %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td>{{ tf.uploaded_by }}</td>
                <td><a href="{{ MEDIA_URL }}{{ tf.file.name }}">{{ tf.file.name }}</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>

<script type='text/javascript'>
    $(document).ready(function(){
        $('li.hover').tooltip();   
    });
</script>
{% endblock %}

