{% extends "project_base.html" %}

{% load tickets %}

{% block page_title %}{{ todo.title }}{% endblock %}
{% block content %}

<h3>
    #{{ todo.pk }}: {{ todo.title |truncatechars:50}} 
    {% if perms.todos.change_todo %}
        {% if return_to %}
        <a href="{% url 'todos-edit' todo.pk %}?return_to=prioritize" class="button">Edit</a>
        {% else %}
        <a href="{% url 'todos-edit' todo.pk %}" class="button">Edit</a>
        {% endif %}
    {% endif %}
        <a href="{% url 'todos-create' project.pk %}" class="button">New ToDo</a> 
</h3>
<hr>
<div class="col-md-8 left-section-wrapper clearfix">
    <div class="panel panel-default pull-left ticket">
        <div class="panel-body ticket-body">
            <div class="markdown">{{ todo.body|frommarkdown }}</div>
        </div>
        <div class="panel-footer pull-left ticket-info ticket-status">
            <ul class='col-md-3'>
                <li><strong>Component:</strong> {{ todo.component }} </li>
                <li><strong>Status:</strong> {{ todo.status }}</li>
                {% if todo.milestone %}
                    <li><strong>Milestone:</strong> {{ todo.milestone.name }} </li>
                {% endif %}
            </ul>
            <ul class='col-md-3'>
                <li><strong>Created:</strong> <span class="timestamp">{{ todo.created_on }}</span> by {{ todo.created_by }}</li>
            </ul>
            <ul class='col-md-3'>
                <li><strong>Estimate:</strong> {{ todo.estimate }}</li>
                {% comment %} <li><strong>Current Time:</strong> {{ times.total|tickettime }} ({{ times.billable|tickettime }} billable)</li> {% endcomment %}
                {% if todo.due_on %}
                    <li><strong>Due On:</strong> {{ todo.due_on }} </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <h4>Comments</h4>
    <div class="ticket-comments">
        {% for comment in comments %}
            <div class="panel panel-default ticket">
                <div class="panel-heading comment-info">
                    <ul class='list-inline'>
                        <li><strong>Author:</strong> {{ comment.created_by }}</li>
                        <li><strong>Created On:</strong> <span class="timestamp">{{ comment.created_on }}</span></li>
                        {% if perms.todos.change_todo %}
                        <li><a href="{% url 'comments-edit' comment.pk %}" class="btn-primary btn-xs btn">Edit</a></li>
                        {% endif %}
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="panel-body ticket-body">
                    <div class="markdown">{{ comment.body|frommarkdown }}</div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="panel panel-default ticket-add-comment">
        <div class='panel-heading'><strong>Add Comment</strong></div>
        <form method="post" action="">
            <input type="hidden" name="form_type" value="comment_form" />
            {% csrf_token %}
            {{ comment_form.body.errors }}
            {{ comment_form.body }}
        <div class='panel-footer'>
            {{ comment_form.cc.label }}: {{ comment_form.cc }}
            <input type="submit" name="submit" value="Add" class="btn btn-xs btn-primary submit float-right" />
        </form>
       </div>
    </div>
</div>

<div class="col-md-4 right-section-wrapper">
    <div class="panel panel-default right-section-block">
        <div class='panel-heading'>This Item's Tickets
        {% if perms.tickets.add_ticket %}
            <a class='btn btn-xs btn-primary pull-right' href='{% url 'tickets-create' project.pk %}?todo_id={{ todo.pk }}'>Add New Ticket</a>
        {% endif %}
        </div>
        <table class="table block-table">
            <tbody>
                {% for ticket in todo.tickets.all %}
                    <tr>
                        {% if perms.tickets.add_ticket %}
                            <td class='tool'><a class='button' href='{% url 'tickets-detail' ticket.ticket_id %}'>#{{ ticket.pk }}: {{ ticket.status }}</a><div class='tip'>{{ ticket.title|escape |truncatechars:50}}</div></td>
                        {% else %}
                            <td class='tool'><a class='button' href=#>#{{ ticket.pk }}: {{ ticket.status }}</a><div class='tip'>{{ ticket.title|escape |truncatechars:50}}</div>/td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="panel panel-default right-section-block">
        <div class='panel-heading' >Files</div>
        <table class="table table-condensed block-table">
        {% for tf in files %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td>{{ tf.uploaded_by }}</td>
                <td><a href="{{ MEDIA_URL }}{{ tf.file.name }}">{{ tf.file.name }}</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>

<script type='text/javascript'>
    $(document).ready(function(){
        $('li.hover').tooltip();   
    });
</script>
{% endblock %}

