{% extends 'project_base.html' %}
{% block scripts %}
{% endblock %}
{% block page_title %}To Do Items{% endblock %}

{%block content %}
    <div id='content-wrapper' style='min-height:400px;'>
    <div class='row'>
    <h2> {{ project.name }}</h2>
    <hr>
    <h2 class='col-md-5'>To Do Items
    <small><a href="{% url 'todos-create' project.pk %}" class="btn btn-primary btn-xs">New To Do</a></small>
    <small><a href="{% url 'todos-bulk' project.pk %}" class="btn btn-primary btn-xs" id="bulk-action">Bulk Action</a></small>
    {% if project.is_scrum %}
        <small><a href="{% url 'todos-prioritize' project.pk %}/?sprint_end={{backlog | date:'c'}}" class="btn btn-primary btn-xs">Prioritize</a></small>
    {% endif %}
    </h2>
      <form style='margin-top:20px;' class='pull-right' id='search' method='GET'>
        <input type='text' name='q' placeholder='Search'></input>
      </form>
    </div>
    {% include 'filterset.html' %}
    {% if do_pagination %}
    <div class="clear"></div>
    {% include 'pagination.html' %}
    {% endif %}

    <table cellpadding='5px' id='todo-table' class='table table-striped tablesorter' style='width:100%;'>
        <thead  style='background:rgb(106, 127, 16);border-bottom:solid 1px grey;padding:5px;color:white'>
            <th style='width:25px;'><input type='checkbox' id='check-all'name='todo'/></th><th>To Do Item</th><th>Status</th><th>Due On</td><th>Priority</th>
        </thead>
    <tbody>
    {% for todo in todos %}
        <tr class='{% cycle 'odd' 'even' %}'>
            <td> <input type='checkbox' name='todo' value={{todo.pk}}></input></td>
            <td style='padding:5px'><a href="{% url "todos.views.detail" todo.pk %}">#{{todo.pk}} {{ todo.title }}</a> </td>
            <td style='padding:5px'>{{ todo.status }}</td>
            <td style='padding:5px'>{{ todo.due_on |date:"M d, Y" }}</td>
            <td style='padding:5px;'>{{ todo.priority }}</td> 
        </tr>
        {% empty %}
        <tr><td></td><td>No To Dos for you</td></tr>
    {% endfor %}
    </tbody>    
    </table>
    </div>
    
    <script type='text/javascript' src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script type='text/javascript'>
        $(document).ready(function(){
            $('#todo-table').tablesorter({headers: {0: { sorter: false}, }});
            //check all box
            $('#check-all').bind('click', function(e){
                var state = $(this).is(":checked");
                $('#todo-table input[type="checkbox"]').prop("checked", state);
            });
            //check each boxes
            $('#bulk-action').click(function(e){
            e.preventDefault();
            var vals = []
            $('#todo-table input[name="todo"]:checked').each(function(){ 
                vals.push($(this).val()); 
            });
            if(vals.length == 0){
                alert("You must select some todos first (use the checkboxes)");
                return;
            }
            vals.shift()
            var query = vals.join(",");

            var href = $(this).attr('href');
            href += "?todos=" + query;
            window.location = href;
        });
    })
    </script>

{% endblock %}
