{% extends 'base.html' %}
{% block scripts %}
{% endblock %}
{% block page_title %}To Do Items{% endblock %}
{% block breadcrums %}
    {% if perms.projects.can_view_all %}
        <li><a href="{% url 'projects-all' %}">Projects</a></li>
        <li><a href="{% url 'projects-detail' project.pk %}">{{ project.name }}</a></li>
    {% else %}
        <li><a href="{% url 'accounts-profile' %}">My Projects</a></li>
        <li><a href="{% url 'projects-meta' project.pk %}">{{ project.name }}</a></li>
     {% endif %}
    <li><a href="{% url 'todos-list' project.pk %}">To Do Items</a></li>
    <li><a href="{% url 'todos-prioritize' project.pk %}">Prioritize</a></li>
{% endblock %}

{%block content %}
    <div id='content-wrapper' style='min-height:400px;'>
    <h2> {{ project.name }}</h2>
    <h2 >To Do Items
    <a href="{% url 'todos-create' project.pk %}" class="button">New To Do</a>
    <button style='float:right' id='order'>Rank 'Em</button>
    </h2>
    <form id='rank-form' method='POST'>{% csrf_token %}<input type='hidden' name='pk' id='field'/></form>
    {% include 'filterset.html' %}
    <table cellpadding='5px' id='todo-table' class='tablesorter' style='width:100%;'>
        <thead  style='background:rgb(106, 127, 16);border-bottom:solid 1px grey;padding:5px;color:white'>
            <th>To Do Item</th><th>Status</th><th>Due On</td><th>Estimate</td><th>Rank</th>
        </thead>
    <tbody>
    {% for todo in todos %}
        <tr id='{{ todo.pk }}' class='{% cycle 'odd' 'even' %}'>
            <td style='padding:5px'><a href="{% url "todos-detail" todo.pk 'prioritize' %}">#{{todo.pk}} {{ todo.title }}</a> </td>
            <td style='padding:5px'>{{ todo.status }}</td>
            <td style='padding:5px'>{{ todo.due_on |date:"M d, Y" }}</td>
            <td style='padding:5px;'>{{ todo.estimate }}</td> 
            <td style='padding:5px;'>{{ todo.rank }}</td> 
        </tr>
    {% endfor %}
    </tbody>    
    </table>
    </div>
    
    <script type='text/javascript' src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script type='text/javascript'>
        var order ='';
        $(document).ready(function(){
             $('#todo-table').tablesorter();
              $('#todo-table tbody').sortable();
              order = $('#todo-table tbody').sortable('toArray');
              $('#todo-table tbody').sortable({
                    update: function( event, ui ) {
                    order = $(this).sortable('toArray');
                    for(i = 0; i< order.length; i++){
                        var id = order[i];
                        $('#'+id + ' td:last').text(i);
                        }
                    }
                }); 
               $('#order').click(function(event){
                  $('#field').val(order);
                  $('#rank-form').submit();
                  return false;
                  });
               });
    </script>

{% endblock %}
