{% extends "bootstrap_base.html" %}

{% block page_title %}Projects{% endblock %}
{% block navigation %}
    <li class='active'><a href="{% url 'projects-all' %}">Projects</a></li>
{% endblock %}
{% block content %}
<h2>Projects <small class='pull-right' ><a class="btn btn-primary btn-xs" href="{% url 'projects-create' %}">New Project</a></small></h2>
<hr>
<div class='row'>
<table class="table table-striped  project-list active">
    <thead>
        <tr>
            <th>Name</th>
            <th class='hidden-xs'>Edit</th>
            <th class='hidden-xs' >Status</th>
            <th class='hidden-xs'>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects_active %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td style="min-width:200px">
                    <a href="{% url 'projects-detail' project.pk %}">{{ project.name }}</a> {% if project.team_dynamix_id %}({{project.team_dynamix_id}}){% endif %}
                </td>
                <td class='hidden-xs' >{% if perms.projects.change_project %}
                        <a href="{% url 'projects-edit' project.pk %}" class="btn btn-primary btn-xs">Edit</a>
                    {% endif %}
                </td>
                <td class='hidden-xs' >{{ project.get_status_display }}</td>
                <td class='hidden-xs'>{{ project.description|truncatechars:80 }} <a href="{% url 'projects-meta' project.pk %}">Read more</a></td>

            </tr>
        {% endfor %}
    </tbody>
</table>
<a href='#' class='btn btn-primary btn-xs inactive-toggle'>Show Inactive Projects</a>
<a href='#' style='display:none' class='btn btn-primary btn-xs inactive-toggle'>Hide Inactive Projects</a>
<table style='display:none' class="table table-info project-list inactive">
    <thead>
        <tr>
            <th>Name</th>
            <th class='hidden-xs'>Edit</th>
            <th class='hidden-xs'>Status</th>
            <th class='hidden-xs'>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects_inactive %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td style="min-width:200px">
                    <a href="{% url 'projects-detail' project.pk %}">{{ project.name }}</a> 
                </td>
                <td class='hidden-xs'>{% if perms.projects.change_project %}
                        <a href="{% url 'projects-edit' project.pk %}" class="btn btn-primary btn-xs">Edit</a>
                    {% endif %}
                </td>
                <td class='hidden-xs'>{{ project.get_status_display }}</td>
                <td class='hidden-xs'>{{ project.description|truncatechars:80 }} <a href="{% url 'projects-meta' project.pk %}">Read more</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<hr>
<h2>Reports</h2>
<p><a href="{% url 'projects-reports-mega' %}">Mega</a></p>
<p><a href="{% url 'projects-reports-summary' %}">Summary</a></p>


<script type='text/javascript'>
    $('.inactive-toggle').click(function(e){
        e.preventDefault();
        $('table.inactive').toggle();
        $('.inactive-toggle').toggle();
    });
</script>
{% endblock %}

