{% extends "base.html" %}

{% block page_title %}Projects{% endblock %}
{% block breadcrums %}
    <li><a href="{% url 'projects-all' %}">Projects</a></li>
{% endblock %}
{% block content %}
<h2>Projects <a class="button" href="{% url 'projects-create' %}">New Project</a></h2>

{% for project_list in projects %}
<table class="table-info project-list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for project in project_list %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td style="min-width:200px">
                    <a href="{% url 'projects-detail' project.pk %}">{{ project.name }}</a> 
                    {% if perms.projects.change_project %}
                        <a href="{% url 'projects-edit' project.pk %}" class="button">Edit</a>
                    {% endif %}
                </td>
                <td>{{ project.get_status_display }}</td>
                <td>{{ project.description|truncatechars:80 }} <a href="{% url 'projects-meta' project.pk %}">Read more</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}

<h2>Report</h2>
<p><a href="{% url 'projects-reports-mega' %}">Mega</a></p>
<p><a href="{% url 'projects-reports-summary' %}">Summary</a></p>
{% endblock %}

