{% extends 'project_base.html' %}
{% block scripts %}
<script type='text/javascript' src='{{ STATIC_URL }}js/jquery-ui/js/jquery-ui-1.10.3.custom.min.js'></script>
{% endblock %}

{% block page_title %}Backlog Refinement - To Do Items{% endblock %}

{%block content %}
    <div id='content-wrapper' style='min-height:400px;'>
      <h2> {{ project.name }}</h2>
      <hr>
      <h3 >To Do Items</h3>
    {% include 'filterset.html' %}

    <table cellpadding='5px' id='todo-table' class='table table-striped tablesorter' style='margin-top:20px;'>
        <thead  style='background:rgb(106, 127, 16);border-bottom:solid 1px grey;padding:5px;color:white'>
            <th>To Do Item</th><th>Status</th><th>Due On</td><th>Estimate</td><th>Rank</th>
        </thead>
    <tbody>
    {% for todo in todos %}
        <tr id='{{ todo.pk }}' class='{% cycle 'odd' 'even' %}'>
            <td style='padding:5px'><a href="{% url "todos-detail" todo.pk %}?return_to=prioritize">#{{todo.pk}} {{ todo.title }}</a> </td>
            <td style='padding:5px'>{{ todo.status }}</td>
            <td style='padding:5px'>{{ todo.due_on |date:"M d, Y" }}</td>
            <td style='padding:5px;'>{{ todo.estimate }}</td> 
            <td style='padding:5px;'>{{ todo.rank }}</td> 
        </tr>
    {% endfor %}
    </tbody>    
    </table>
 </div>   
    <script type='text/javascript' src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    
{% endblock %}
