{% extends "base.html" %}

{% load tickets %}

{% block page_title %}{{ project.name }}{% endblock %}
{% block breadcrums %}
    <li><a href="{% url 'projects-all' %}">Projects</a></li>
    <li><a href="{% url 'projects-detail' project.pk %}">{{ project.name }}</a></li>
{% endblock %}

{% block content %}
<h2>{{ project.name }} 
    {% if perms.projects.change_project %}
        <a href="{% url 'projects-edit' project.pk %}" class="button">Edit</a>
    {% endif %}
    <a href="{% url 'projects-meta' project.pk %}" class="button">Meta Info</a>
</h2>


<script type="text/javascript">
//TICKETS = {{ tickets_json|safe }};

$(document).ready(function(){
    $('#bulk-action').click(function(e){
        e.preventDefault();
        var vals = []
        $('#ticket-list input[name="ticket"]:checked').each(function(){ 
            vals.push($(this).val()); 
        });
        if(vals.length == 0){
            alert("You must select some tickets first (use the checkboxes)");
            return;
        }
        var query = vals.join(",");

        var href = $(this).attr('href');
        href += "?tickets=" + query;
        window.location = href;
    });
})
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/tickets_search.js"></script>
<div class="left-section-wrapper">
  <h3 class='left iblock pad5'><a href="{% url 'tickets-list' project.pk%}">Tickets</a> 
    <a href="{% url 'tickets-create' project.pk %}" class="button">New Ticket</a> |
    <a href="{% url 'tickets-bulk' project.pk %}" class="button" id="bulk-action">Bulk Action</a>
  </h3>
  {% if project.is_scrum %}
    <h3 class='iblock left pad5'><a href="{% url 'todos-list' project.pk%}/?sprint_end={{ project.current_sprint_end|date:'c' }}">To Do Items</a> 
  {% else %}
    <h3 class='iblock left pad5'><a href="{% url 'todos-list' project.pk%}">To Do Items</a> 
  {% endif %}
  <a href="{% url 'todos-create' project.pk %}" class="button">New To Do</a> 
  </h3>
    <div class='iblock float-right' id='minmax' style='color:grey;' ><span style='display:inline-block' class="ui-icon ui-icon-search"></span>&#9776;</div>  
    <!--input class='iblock float-right' type="text" name="search" id="ticket-search" placeholder="Search" /-->
    <form class='iblock float-right' style='margin-top:20px;' method='GET'>
    <input  type="text" name="contains" id='ticket-contains'  placeholder="Search" />
    </form>
  <div class="clear"></div>
  {% include 'filterset.html' %}

  {% if do_pagination %}
    <div class="clear"></div>
    {% include 'pagination.html' %}
  {% endif %}

  {% include 'tickets/_tickettable.html' %}

  {% if do_pagination %}
    {% include 'pagination.html' %}
  {% endif %}
</div>

<div class="right-section-wrapper">
    <div class="right-section-block">
        <h3>Milestones <a href="{% url 'milestones-create' project.pk %}" class="button">Create</a></h3>
        <table class="block-table">
            {% for milestone in milestones %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td>
                        {% if perms.projects.change_milestone %}
                            <a href="{% url 'milestones-edit' milestone.pk %}" class="discrete">{{ milestone.name }}</a></td>
                        {% else %}
                            {{ milestone.name }}
                        {% endif %}
                    <td><span class="timestamp">{{ milestone.due_on }}</span></td>
                </tr>
            {% endfor %}
        </table>

    </div>

    <div class="right-section-block">
        <h3>Components <a href="{% url 'components-create' project.pk %}" class="button">Create</a></h3>
        <table class="block-table">
            {% for comp in components %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td>
                        {% if perms.projects.change_component %}
                            <a href="{% url 'components-edit' comp.pk %}" class="discrete">{{ comp.name }}</a></td>
                        {% else %}
                            {{ comp.name }}
                        {% endif %}
                    <td>{{ comp.total|tickettime }} ({{ comp.billable|tickettime }} billable)</td>
                </tr>
            {% endfor %}
        </table>
    </div>


    <div class="right-section-block">
        {% include 'tickets/_worklog.html' %}
    </div>
    {% if project.is_scrum %}
    <div class="right-section-block">
            <h3>Current Sprint </h3>
            <div class="inner">
                <table class="block-table">
                  <tr>
                    <td><strong>Start:</strong> {{ project.current_sprint_start }}</td>
                    <td><strong>End:</strong> {{ project.current_sprint_end }}</td>
                    <td><a class='button' href="{% url "projects-edit-sprint" project.pk %}">Edit</a></td></tr>
                </table>
            </div>
        </div>
    {% endif %}
    <div class="right-section-block">
        <h3>Reports</h3>
        <div class="inner">
            <ul>
                <li><a href="{% url 'projects-reports-grid' project.pk %}">People and Time</a></li>
                <li><a href="{% url 'projects-reports-component' project.pk %}">Component Breakdown</a></li>
                <li><a href="{% url 'projects-reports-invoice' project.pk %}">Invoice</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

