{% extends "project_base.html" %}

{% load tickets %}

{% block page_title %}{{ project.name }}{% endblock %}

{% block content %}
<h2>{{ project.name }} 
    {% if perms.projects.change_project %}
        <a href="{% url 'projects-edit' project.pk %}" class="btn btn-primary btn-xs">Edit</a>
    {% endif %}
    <a href="{% url 'projects-meta' project.pk %}" class="btn btn-primary btn-xs">Meta Info</a>
</h2>
<hr>

<script type="text/javascript">
//TICKETS = {{ tickets_json|safe }};

$(document).ready(function(){
    $('#bulk-action').click(function(e){
        e.preventDefault();
        var vals = []
        $('#ticket-list input[name="ticket"]:checked').each(function(){ 
            vals.push($(this).val()); 
        });
        if(vals.length == 0){
            alert("You must select some tickets first (use the checkboxes)");
            return;
        }
        var query = vals.join(",");

        var href = $(this).attr('href');
        href += "?tickets=" + query;
        window.location = href;
    });
})
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/tickets_search.js"></script>
<div class="col-md-8 pull-left-section-wrapper">
 <div class='row'>
  {% if project.is_scrum %}
    <h3 class='pull-left col-md-5 iblock pad5'><a href="{% url 'tickets-list' project.pk%}/?sprint_end={{project.current_sprint_end|date:'c'}}">Tickets</a> 
  {% else %}
    <h3 class='pull-left col-md-5 iblock pad5'><a href="{% url 'tickets-list' project.pk%}">Tickets</a> 
  {% endif %}
    <a href="{% url 'tickets-create' project.pk %}" class="btn btn-primary btn-xs">New Ticket</a> |
    <a href="{% url 'tickets-bulk' project.pk %}" class="btn btn-primary btn-xs" id="bulk-action">Bulk Action</a>
  </h3>
      <form class='iblock pull-right' style='margin-top:20px;' method='GET'>
        <input class='form-control' type="text" name="contains" id='ticket-contains'  placeholder="Search" />
      </form>
    </div>
    <br>
    <div class='panel panel-default'>
      <div class='col-md-12 panel-heading'>
      {% include 'filterset.html' %}
      </div>
      {% if do_pagination %}
        <div class='panel-body'>
          {% include 'pagination.html' %}
        </div>
     {% endif %}
     </div>
  {% include 'tickets/_tickettable.html' %}

  {% if do_pagination %}
    {% include 'pagination.html' %}
  {% endif %}
</div>

<div class="col-md-4 right-section-wrapper">
    <div class="panel panel-default right-section-block">
      <div class='panel-heading' >Milestones <a href="{% url 'milestones-create' project.pk %}" class="pull-right btn btn-primary btn-xs">Create</a></div>
        <table class="table table-condensed table-bordered block-table">
            {% for milestone in milestones %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td>
                        {% if perms.projects.change_milestone %}
                            <a href="{% url 'milestones-edit' milestone.pk %}" class="discrete">{{ milestone.name }}</a></td>
                        {% else %}
                            {{ milestone.name }}
                        {% endif %}
                    <td><span class="timestamp">{{ milestone.due_on }}</span></td>
                </tr>
            {% endfor %}
        </table>

    </div>

    <div class="panel panel-default right-section-block">
        <div class='panel-heading'>Components <a href="{% url 'components-create' project.pk %}" class="btn btn-primary btn-xs pull-right ">Create</a></div>
        <table class="table table-condensed table-bordered block-table">
            {% for comp in components %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td>
                        {% if perms.projects.change_component %}
                            <a href="{% url 'components-edit' comp.pk %}" class="discrete">{{ comp.name }}</a></td>
                        {% else %}
                            {{ comp.name }}
                        {% endif %}
                    <td>{{ comp.total|tickettime }} ({{ comp.billable|tickettime }} billable)</td>
                </tr>
            {% endfor %}
        </table>
    </div>


    <div class="right-section-block">
        {% include 'tickets/_worklog.html' %}
    </div>
    <div class="panel panel-default right-section-block">
      <div class='panel-heading'>Reports</div>
            <ul class='list-group'>
                <li class='list-group-item'><a href="{% url 'projects-reports-grid' project.pk %}">People and Time</a></li>
                <li class='list-group-item'><a href="{% url 'projects-reports-component' project.pk %}">Component Breakdown</a></li>
                <li class='list-group-item'><a href="{% url 'projects-reports-invoice' project.pk %}">Invoice</a></li>
            </ul>
    </div>
</div>
{% endblock %}

