{% extends "base.html" %}

{% load tickets %}
{% load permissions %}
{% block page_title %}{{ project.name }}{% endblock %}
{% block breadcrums %}
    <li><a href="{% url 'projects-all' %}">Projects</a></li>
    <li><a href="{% url 'projects-detail' project.pk %}">{{ project.name }}</a></li>
    <li>Meta</li>
{% endblock %}
{% block content %}

<h2>{{ project.name }} 
    {% if user|can_edit:project %}
        <a href="{% url 'projects-edit' project.pk %}" class="button">Edit</a>
    {% endif %}
</h2>

{% if project.description %}
    <h3>Description</h3>
    <div class="markdown">{{ project.description|frommarkdown }}</div>
{% endif %}

{% if project.point_of_contact %}
    <h3>Point of Contact</h3>
    <div class="markdown">{{ project.point_of_contact|frommarkdown }}</div>
{% endif %}

{% if project.technical %}
    <h3>Technical</h3>
    <div class="markdown">{{ project.technical|frommarkdown }}</div>
{% endif %}

{% if project.catch_all %}
    <h3>Catch All</h3>
    <div class="markdown">{{ project.catch_all|frommarkdown }}</div>
{% endif %}
{% endblock %}
