{% extends "project_base.html" %}

{% load tickets %}
{% block page_title %}{{ project.name }}{% endblock %}
{% block breadcrums %}
    {% if perms.projects.can_view_all %}
        <li><a href="{% url 'projects-all' %}">Projects</a></li>
        <li><a href="{% url 'projects-detail' project.pk %}">{{ project.name }}</a></li>
    {% else %}
        <li><a href="{% url 'accounts-profile' %}">My Projects</a></li>
        <li><a href="{% url 'projects-meta' project.pk %}">{{ project.name }}</a></li>
    {% endif %}
    <li>Meta</li>
{% endblock %}
{% block content %}
<div class='project-meta container'>
    <h2>{{ project.name }} 
    {% if perms.projects.change_project %}
            <a href="{% url 'projects-edit' project.pk %}" class="btn btn-primary btn-xs">Edit</a>
        {% endif %}
    </h2>
    <hr>
    {% if perms.projects.can_view_all %}
        {% if project.team_dynamix_id %}
            Team Dynamix Id: {{project.team_dynamix_id }}
        {% endif %}
    {% endif %}
    {% if target_completion %}
        <h3>Target Completion</h3>
        <p>{{ target_completion }}</p>
    {% endif %}

    {% if project.description %}
        <h3>Description</h3>
        <div class="markdown">{{ project.description|frommarkdown }}</div>
    {% endif %}

    {% if project.point_of_contact %}
        <h3>Point of Contact</h3>
        <div class="markdown">{{ project.point_of_contact|frommarkdown }}</div>
    {% endif %}

    {% if perms.projects.can_view_all %}
        {% if project.technical %}
            <h3>Technical</h3>
            <div class="markdown">{{ project.technical|frommarkdown }}</div>
        {% endif %}
    {% endif %}

    {% if project.catch_all %}
        <h3>Catch All</h3>
        <div class="markdown">{{ project.catch_all|frommarkdown }}</div>
    {% endif %}
</div>
{% endblock %}
