{% extends "scrum_base.html" %}
{% block page_title %}Scrum Workflow{%endblock%}
{% block content %}
<h2>{{ project.name }}: Scrum Workflow
{% include '_sprint_end_form.html' %}
</h2>
<div class='scrum-workflow'>
  <ul>
    <li><a href='{% url 'todos-list' project.pk %}'>Prioritize ToDos</a></li>
    <li><a href='{% url 'todos-list' project.pk %}'>Backlog Refinement Meeting</a></li>
    <li><a href='{% url 'todos-list' project.pk %}'>Sprint Planning Meeting</a></li>
    <li><a href='{% url 'todos-list' project.pk %}'>Sprint Review Meeting</a></li>
    <li><a href='{% url 'todos-list' project.pk %}'>Scrum Stats</a></li>
  </ul>
</div>
{% endblock %}
