{% extends 'bootstrap_base.html' %}

{% load tickets %}

{% block page_title %}Your Tickets{% endblock %}

{% block content %}
<h2>{{ user.username }}</h2>

<div class="col-md-8 left-section-wrapper">
  <script type="text/javascript">
    TICKETS = {{ tickets_json|safe }};
  </script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/tickets_search.js"></script>
  <div class='row'>
  <h3 class='pull-left'>
    Tickets <a href="{% url 'accounts-profile' tickets='assigned'%}">Assigned To </a> or <a href="{% url 'accounts-profile' tickets='created_by'%}">Created By </a>You
  </h3>
    <form class='pull-right' style='margin-top:20px;' method='GET'>
      <input class='form-control' type="text" name="contains" id="ticket-contains" placeholder="Search" />
    </form>
    </div>

  <div class='panel panel-default'>
      <div class='col-md-12 panel-heading'>
      {% include 'filterset.html' %}
      </div>
      {% if do_pagination %}
        <div class='panel-body'>
          {% include 'pagination.html' %}
        </div>
     {% endif %}
     </div>

  {% include 'tickets/_tickettable.html' %}
  </div>

<div class="col-md-4 right-section-wrapper">
    <div class="panel panel-default right-section-block">
        <div class='panel-heading'>Your Running Work</div>
        <table class="table table-condensed">
        {% for w in running_work %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td><a href="{% url 'tickets-detail' w.ticket.pk %}">{{ w.ticket.title }}</a></td>
                <td>{{ w.duration|tickettime }}</td>
                <td>
                    {% if perms.tickets.change_work %}
                        {% if w.state == w.PAUSED %}
                            <a href="{% url 'work-continue' w.pk %}">Continue</a>
                        {% else %}
                            <a href="{% url 'work-pause' w.pk %}">Pause</a></td>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if perms.tickets.change_work %}
                        <a href="{% url 'work-edit' w.pk %}">Complete</a></td>
                    {% endif %}
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

