{% extends 'base.html' %}

{% load permissions %}
{% load tickets %}

{% block page_title %}Your Tickets{% endblock %}

{% block breadcrums %}
    <li><a href="{% url 'projects-all' %}">Projects</a></li>
{% endblock %}

{% block content %}
<h1>{{ user.username }},</h2>

<div class="left-section-wrapper">
  <script type="text/javascript">
    TICKETS = {{ tickets_json|safe }};
  </script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/tickets_search.js"></script>
  <h2>
    Tickets <a href="{% url 'accounts-profile' tickets='assigned'%}">Assigned To </a> or <a href="{% url 'accounts-profile' tickets='created_by'%}">Created By </a>You
    <input type="text" name="search" id="ticket-search" placeholder="Search" />
  </h2>

  <div class="clear"></div>
  {% include 'filterset.html' %}

  {% if do_pagination %}
    <div class="clear"></div>
    {% include 'pagination.html' %}
  {% endif %}

  {% include 'tickets/_tickettable.html' %}

  {% if do_pagination %}
    {% include 'pagination.html' %}
  {% endif %}
</div>

<div class="right-section-wrapper">
    <div class="right-section-block">
        <h3>Your Running Work</h3>
        <table class="block-table">
        {% for w in running_work %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td><a href="{% url 'tickets-detail' w.ticket.pk %}">{{ w.ticket.title }}</a></td>
                <td>{{ w.duration|tickettime }}</td>
                <td>
                    {% if user|can_edit:w %}
                        {% if w.state == w.PAUSED %}
                            <a href="{% url 'work-continue' w.pk %}">Continue</a>
                        {% else %}
                            <a href="{% url 'work-pause' w.pk %}">Pause</a></td>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if user|can_edit:w %}
                        <a href="{% url 'work-edit' w.pk %}">Complete</a></td>
                    {% endif %}
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

