{% extends 'bootstrap_base.html' %}

{% load tickets %}
{% load addcss %}

{% block page_title %}Your Timesheet{% endblock %}

{% block content %}
	<h2>Timesheet for user: {{ user.username }}</h2>

	<div class="hidden-print print-hide">
	    <form class='formi clearfix' method="get" action="">
	        {{ form.start | bs_group:'3' }}
	        {{ form.end | bs_group:'3' }}
	        
	        <div class='col-md-12'>
	        <input class='btn btn-primary btn-sm' type="submit" name="submit" value="submit" />
	        </div>
	    </form>
	</div>
	<hr>

	
	<div class="col-md-8 left-section-wrapper">
		<script type="text/javascript">
	    	TICKETS = {{ tickets_json|safe }};
	  	</script>
	  	<script type="text/javascript" src="{{ STATIC_URL }}js/tickets_search.js"></script>
		
		<div class='panel panel-default'>
	      <div class='col-md-12 panel-heading'>
	      {% include 'filterset.html' %}
	      </div>
	      {% if do_pagination %}
	        <div class='panel-body'>
	          {% include 'pagination.html' %}
	        </div>
	     {% endif %}
	    </div>

	    <table class="table table-condensed table-striped">	    	
	    		<tr>
	    			<th>Date</th>
	    			<th>Time</th>
	    			<th>Ticket</th>
	    			<th>Billable</th>
	    		</tr>
	    	{% for w in work %}
	    		<tr>
	    			<td>{{ w.started_on }} - {{ w.done_on }}</td>
	    		</tr>
	    		<tr>
	    			<td>{{ w.time|tickettime }}</td>
	    		</tr>
	    		<tr>
	    			<td>{{ w.ticket }}</td>
	    		</tr>
	    		<tr>
	    			<td>{% if w.billable %}Yes{% else %}No{% endif %}</td>
	    		</tr>
	    	{% endfor %}
	    </table>

  	</div>
  	
{% endblock %}
