{% extends "base.html" %}
{% block content %}
{% load url from future %}
<h2>{{ project.name }}</h2>
<h3>Tickets</h3>
<a href="{% url 'tickets-create' project.pk %}">New Ticket</a>
<table>
    <thead>
        <tr>
            <td>Ticket</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
            <tr>
                <td><a href="{% url 'tickets-detail' project.pk ticket.pk %}">{{ ticket.summary }}</a></td>
                <td>{{ ticket.status }}</td>
            </tr>
        {% endfor %}
</table>

{% endblock %}

